<div class="general_wrapper" id="new_sale">
  <div class="general_wrapper_heading">
    <h1> New sale </h1>
  </div>

  <form action='/customers/<%= @customer.id() %>/sales' method='post'>

    <label class="new_form_label">
      Customer:
      <select name="customer_id" id="customer_drop_down">

        <% for customer in @customers %>
        <option <%= 'selected' if customer.id() == @customer.id()%> value="<%= customer.id() %>" ><%= customer.full_name() %> </option>
        <% end %>

      </select>
    </label>

    <label class="new_form_label">
      Television:
      <select name="television_id" id="television_drop_down">

        <% for television in @televisions %>
        <option value="<%= television.id() %>" ><%= television.manufacturer.name() + " " + television.model_no() %> </option>
        <% end %>

      </select>
    </label>

    <div class="submit_button_wrapper">
      <input type="submit" value="Confirm sale" class="submit_button">
    </div>
  </form>
</div>
