<div class="general_wrapper" id="television_index">
  <div class="general_wrapper_heading">
    <h1> Televisions </h1>
    <a href="/televisions/new">Add model</a>
  </div>


  <table id="television_table">
    <tr><th>Model No.</th><th>Manufacturer</th><th>Stock</th><th>Cost Price</th><th>Retail Price</th></tr>

    <% @televisions.sort! { |television1, television2| [ television1.manufacturer.name(), television2.model_no(), television2.retail_price() ] <=> [ television2.manufacturer.name(), television1.model_no(), television1.retail_price() ] } %>

    <% for television in @televisions %>
    <tr>
      <td><%= television.model_no() %></td>    
      <td><%= television.manufacturer().name() %></td>    
      <td><%= television.stock() %></td>
      <td>£<%= television.cost_price() %></td>
      <td>£<%= television.retail_price() %></td>
      <td><form action="/televisions/<%= television.id() %>/order" method="get"><input class="submit_button" type="submit" value="Order"></form></td>   
<!--       <td><form action="/televisions/<%= television.id() %>/sell" method="post"><input class="submit_button" id="mobile_friendly" type="submit" value="Sell"></form></td>    -->   
      <td><form action="/televisions/<%= television.id() %>/delete" method="post"><input class="submit_button" type="submit" value="Delete"></form></td>
    </tr>
    <% end %>
  </table>
</div>

<footer class="menu_bar">
  <ul>
    <form action="/televisions/filter" method="">
      <select name="manufacturer_id" id="manufacturer_drop_down">

        <% for manufacturer in @manufacturers %>
        <option value=<%= manufacturer.id() %>><%= manufacturer.name() %></option>
        <% end %>

      </select>
      <input type="submit" value="Filter" class="submit_button" id="mobile_friendly">
    </form>
  </ul>
</footer>