<div id="general_wrapper">
  <div id="general_wrapper_heading">
    <h1> Televisions </h1>
  </div>

  <table>
    <tr><th>Model No.</th><th>Manufacturer</th><th>Stock</th><th>Cost Price</th><th>Retail Price</th></tr>

    <% @televisions.sort! { |television1, television2| [ television1.manufacturer.name(), television2.model_no(), television2.retail_price() ] <=> [ television2.manufacturer.name(), television1.model_no(), television1.retail_price() ] } %>

    <% for television in @televisions %>
    <tr>
      <td><%= television.model_no() %></td>    
      <td><%= television.manufacturer().name() %></td>    
      <td><%= television.stock() %></td>
      <td>£<%= television.cost_price() %></td>
      <td>£<%= television.retail_price() %></td>
      <td><form action="/televisions/<%= television.id() %>/delete" method="post"><input class="submit_button" type="submit" value="Delete"></form></td>
    </tr>
    <% end %>
  </table>
</div>